.DS_Store
.goutputstream-*
*.swp
*.swo
*~
*.out
*.log
.ipynb_checkpoints/
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.py[cod]
.venv/
work/
scratch/
sourcedata/
ds003745/
logs/runs/
logs/runlists/
derivatives/*
!derivatives/README.md
3dFWHMx.1D*
*.feat/
*.gfeat/
*.nii
*.nii.gz
!masks/*.nii
!masks/*.nii.gz
!resources/*.nii.gz
sub-*.html
